#loginForm{
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    text-align: center;
}

#logo{
    margin: 60px auto;
    width: 315px;
    cursor: pointer;
}

#loginForm input{
    margin: 0px auto;
    display: block;
}

#loginForm input[name=id]{
    margin: 30px auto;
    width: 275px;
    min-width: 230px;
    border: none;
    height: 5%;
    min-height: 22px;
    font-size: 16px;
    transition: all 0.2s;
    background-color: rgba(0,0,0,0.0);
}

#loginForm input[name=psw]{
    width: 15%;
    min-width: 200px;
    border: none;
    height: 5%;
    min-height: 22px;
    font-size: 16px;
    transition: all 0.2s;
    float: left;
    background-color: rgba(0,0,0,0.0);
}

.pswLabel{
    margin: 30px auto;
    width: 15%;
    min-width: 230px;
    height: 40px;
    display: block;
}

.pswLabel input[type=button]{
    float: right;
    width: 25px;
    height: 25px;
    border: none;
    background-color: rgba(0,0,0,0.0);
    background-image: url('../imgs/eyeClose.png');
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.2s;
}


#loginForm input::placeholder{
    color : #1FAB89;
}

#signBtn, #loginBtn, #offlineBtn{
    display: block;
    margin: 10px auto;
    border: none;
    width: 10%;
    height: 30px;
    min-width: 125px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    background-color: rgba(0,0,0,0.0);
}
#loginBtn{
    margin-top: 90px;
}

#colorChange{
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 10px 20px;
    width: 120px;
    height: 50px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
    transition: all 0.3s;
    border-radius: 10px;
}

#colorIcon{
    margin: 5px;
    width: 40px;
    height: 40px;
    background-size: 40px;
    transition: all 0.3s;
    cursor: pointer;
}