#profileCheckDiv{
    margin-top: 50px;
}

#profileCheckDiv p{
    margin: 30px;
}

#profileCheckDiv input{
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

#profileCheckDiv input[type=button]{
    cursor: pointer;
}
