#signForm{
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    text-align: center;
}

#logo{
    margin: 60px auto;
    width: 315px;
    cursor: pointer;
}

#signForm input{
    margin: 0px auto;
    display: block;
}

#signForm input[name=psw]{
    background-image: url("../imgs/eyeClose.png");
    background-size: 20px;
    background-position: right;
    background-repeat: no-repeat;
}

#signForm input[name=psw]:active{
    background-image: url("../imgs/eye.png");
}

#signForm input::placeholder{
    color : #1FAB89;
}


#signForm input[type=text], #signForm input[type=password]{
    margin: 30px auto;
    width: 15%;
    min-width: 230px;
    border: none;
    height: 5%;
    min-height: 22px;
    font-size: 16px;
    transition: all 0.2s;
}

#signForm input[type=button], #signForm input[type=submit]{
    border: none;
    width: 20%;
    height: 30px;
    min-width: 125px;
    font-size: 16px;
    font-weight: bold;
    background-color: #FFFFFF;
    cursor: pointer;
}

.psw{
    background-image: url("../imgs/eyeClose.png");
    background-size: 20px;
    background-position: right;
    background-repeat: no-repeat;
}

.psw:active{
    background-image: url("../imgs/eye.png");
}

#signForm input::placeholder{
    color : #1FAB89;
}

#sign{
    display: block;
    margin: 42px auto;
    text-decoration: none;
    border: none;
    width: 20%;
    height: 30px;
    min-width: 125px;
    font-size: 16px;
    font-weight: bold;
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
}