#setHeader{
    width: 100%;
    background-color: #1fab89;
    height: 40px;
    line-height: 40px;
    text-indent: 10px;
    color: #d7fbe8 ;
    text-align: left;
}


#cardChange{
    margin: 30px auto;
    width: 300px;
    height: 450px;
    overflow: hidden;
}

.card{
    margin: 0px auto;
    width: 300px;
    height: 450px;
    float: left;
}

.spell{
    margin: 120px auto 0px;
    width: 100%;
    height: 200px;
    font-size: 30px;
    font-weight: bold;  
}

.answers{
    width: 100%;
    height: 150px;
    display: block;
    bottom: 0;
}

.spellBtn{
    margin: 5px;
    width: 50px;
    height: 50px;
    min-height: 50px;
    border: none;
    color: #ffffff;
    background-color: #62d2a2;
    border-radius: 5px;
    cursor : pointer;
    transition: all 0.2s;
    font-size: 16px;
    font-weight: bold;
    display: block;
    float: left;
    white-space : normal;

}

.spellBtn:hover{
    font-size: 20px;
}

.ment{
    width: 100%;
    height: 100px;
    line-height: 100px;
}

#timeBar{
    margin: 0 auto;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    overflow: hidden;
}

#timeProcess{
    margin-left: -300px;
    width: 300px;
    height: 30px;
    background-color: #62d2a2;
    transition: all 1s;
    border-radius: 5px;
}


#wrongBox{
    width: 100%;
    height: 300px;
    overflow : auto;
}

#wrongBox::-webkit-scrollbar{
    display: none;
}

.wrong{
    width: 290px;
    line-height: 20px;
    margin: 5px 0px;
    height: auto;
    border-bottom: 1px solid #62d2a2;
    word-wrap: break-word;
    text-align: left;
    display: inline-block;
}

.wrong > span:nth-child(1){
    width: 120px;
    padding: 5px 10px;
    float: left;
    display: block;
}

.wrong > span:nth-child(2){
    width: 120px;
    padding: 5px 10px;
    float: right;
    text-align: right;
    display: block;
    
}